In [58]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\swapn\\Downloads\\LR 5.csv")

import warnings
warnings.filterwarnings('ignore')

In [59]:
df.describe()

,Tenure,Salary,JobSatisfaction,WorkLifeBalance,PerformanceRating,TrainingHours,OverTime,NumProjects,YearsSincePromotion
count,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000,1543.000000
mean,7.608555,66653.596889,3.414128,3.774930,3.492719,34.070603,0.935191,3.508367,1.202852
std,4.112047,8448.865707,1.086520,0.477998,0.410415,21.555057,0.246268,0.691422,2.059036
min,0.000000,40000.000000,1.000000,2.000000,1.640000,5.200000,0.000000,1.510000,0.000000
25%,5.000000,61000.000000,3.000000,3.500000,3.333000,18.000000,1.000000,3.000000,0.000000
50%,7.000000,66500.000000,3.000000,4.000000,3.363000,30.000000,1.000000,3.620000,0.000000
75%,10.000000,72000.000000,4.000000,4.000000,3.667000,36.000000,1.000000,4.000000,2.000000
max,27.000000,98000.000000,5.000000,5.000000,5.000000,96.000000,1.000000,6.390000,16.000000

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1543 entries, 0 to 1542
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Tenure               1543 non-null   int64
 1   Salary               1543 non-null   int64
 2   Department           1543 non-null   object
 3   JobSatisfaction      1543 non-null   int64
 4   WorkLifeBalance      1543 non-null   float64
 5   CommuteDistance      1543 non-null   object
 6   MaritalStatus        1543 non-null   object
 7   Education            1543 non-null   object
 8   PerformanceRating    1543 non-null   float64
 9   TrainingHours        1543 non-null   float64
 10  OverTime             1543 non-null   int64
 11  NumProjects          1543 non-null   float64
 12  YearsSincePromotion  1543 non-null   int64
 13  ChurnLikelihood      1543 non-null   object
dtypes: float64(4), int64(5), object(5)
memory usage: 168.9+ KB

In [61]:
df.isnull().sum()

Tenure                 0
Salary                 0
Department             0
JobSatisfaction        0
WorkLifeBalance        0
CommuteDistance        0
MaritalStatus          0
Education              0
PerformanceRating      0
TrainingHours          0
OverTime               0
NumProjects            0
YearsSincePromotion    0
ChurnLikelihood        0
dtype: int64

In [62]:
df['ChurnLikelihood'].unique()

array(['Highly Likely', 'Less Likely'], dtype=object)

In [63]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

In [64]:
categorical_features

['Department',
 'CommuteDistance',
 'MaritalStatus',
 'Education',
 'ChurnLikelihood']

In [65]:
print(type(df))
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
(1543, 14)

In [66]:
df['ChurnLikelihood']=df['ChurnLikelihood'].map({'Highly Likely':1, 'Less Likely':0})

In [67]:
df = df.drop('Department', axis=1)

In [68]:
df['CommuteDistance'].unique()

array(['Short', 'Medium', 'Long'], dtype=object)

In [69]:
df['CommuteDistance']=df['CommuteDistance'].map({'Short':0, 'Medium':1, 'Long':2})

In [70]:
df['MaritalStatus'].unique()

array(['Single', 'Married', 'Divorced'], dtype=object)

In [71]:
df = pd.get_dummies(df, columns=['MaritalStatus'], prefix='MaritalStatus')

In [72]:
df.head()

,Tenure,Salary,JobSatisfaction,WorkLifeBalance,CommuteDistance,Education,PerformanceRating,TrainingHours,OverTime,NumProjects,YearsSincePromotion,ChurnLikelihood,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,10,73500,4,4.0,0,Bachelor,3.333,18.0,1,2.00,2,1,0,0,1
1,5,63500,4,3.0,1,Bachelor,2.667,12.0,1,3.62,0,1,0,0,1
2,8,59000,3,3.5,1,Master,3.333,24.0,1,3.00,0,1,0,0,1
3,4,72000,4,3.5,2,Bachelor,2.667,24.0,1,2.00,0,1,0,0,1
4,7,83000,3,3.5,1,Master,3.000,36.0,1,4.00,1,1,0,1,0

In [73]:
df['Education'].unique()

array(['Bachelor', 'Master', 'High School'], dtype=object)

In [74]:
df['Education']=df['Education'].map({'Bachelor':1, 'Master':2, 'High School':0})

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1543 entries, 0 to 1542
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tenure                  1543 non-null   int64
 1   Salary                  1543 non-null   int64
 2   JobSatisfaction         1543 non-null   int64
 3   WorkLifeBalance         1543 non-null   float64
 4   CommuteDistance         1543 non-null   int64
 5   Education               1543 non-null   int64
 6   PerformanceRating       1543 non-null   float64
 7   TrainingHours           1543 non-null   float64
 8   OverTime                1543 non-null   int64
 9   NumProjects             1543 non-null   float64
 10  YearsSincePromotion     1543 non-null   int64
 11  ChurnLikelihood         1543 non-null   int64
 12  MaritalStatus_Divorced  1543 non-null   uint8
 13  MaritalStatus_Married   1543 non-null   uint8
 14  MaritalStatus_Single    1543 non-null   uint8
dtypes: float64(4), int64(8), uint8(3)
memory usage: 149.3 KB

In [76]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [77]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [78]:
from sklearn.linear_model import LogisticRegression
classification=LogisticRegression(max_iter=200)

In [79]:
classification.fit(x_train,y_train)

LogisticRegression(max_iter=200)

In [81]:
y_pred=classification.predict(x_test)

In [83]:
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report

In [84]:
confusion_matrix(y_test,y_pred)

array([[236,   0],
       [  0,  73]], dtype=int64)

In [85]:
accuracy_score(y_test,y_pred)

1.0

In [87]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       236
           1       1.00      1.00      1.00        73

    accuracy                           1.00       309
   macro avg       1.00      1.00      1.00       309
weighted avg       1.00      1.00      1.00       309